// !global을 사용하여 local 변수를 global 변수로 만들어 사용할 수도 있습니다. 쓸 일 거의 없음...
.info{
	$line-normal : 1.34 !global;
	font-size : 15px;
	line-height : $line-normal;
	text-align : right;
  span{
		line-height : $line-normal;
	}
}
